/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  min-width: 1000px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-width: 1000px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.footer a {
    margin: 0 15px;
    text-decoration: underline;
}

.container {
  width: 970px !important;
  min-width: 1000px;
}

.navbar-title {
    margin-top: 5px;
    font-size: 2em;
    margin-bottom: 15px;
}
.navbar-subtitle {
    font-size: 0.8em;
}
.navbar-image {
    margin-right: 15px;
}
.navbar-right {
    margin: 15px;
}
.starter-template {
  padding: 60px 15px 0;
}
.home-template {
  text-align: center;
}
.upper-form-group {
    margin: 15px;
}
.lower-form-group {
    margin-bottom: 45px;
}

.container-group {
    margin: 45px 0;
}

#testimonial-group {
  margin: 100px 0;
}

#testimonial-group ul li {
    padding: 0 50px;
}

#testimonial-group ul li p {
    width: 175px;
}

#built-by-group img {
    width: 50px;
}

#cta-group a {
  text-decoration: underline
}

.result-group a {
  text-decoration: underline;
}