<div class="container faq">
    <div class="page-header">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="panel-group" id="accordion">
        
        <div class="faqHeader">General questions</div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">What the heck is POSThere.io?</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>POSThere.io is a simple service for developers to help debug API calls and web hooks.</p>
                    <p>When your code POSTs to someone else's code (using their web API, or if you're acting as a web hook) it can be hard to iterate, debug and validate your code without the burden of mocking your POSTs or temporarily servicing your own POST requests.</p>
                    <p>Wouldn’t it be nice to be able to instantly see exactly what your code POSTed at any time in as easy, clear browser interface? Now you can with POSThere.io. After POSTing your JSON, XML, or form fields, point your web browser at the same URL and you’ll see a clear history and details of all the POST requests you made. Neat, huh?</p>
                    <p>Another great use for POSThere.io is when you're using someone else's web hook for the first time. Point it at POSThere.io first so you can see exactly what will be POSTed, then you can write your own code to process the request.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Who created this treasure?</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>I'm glad you asked. It sounds like you want to buy us a gift. POSThere.io was created by the <a href="http://path.com/">Path</a> Engineering team during one of their Hackathons. In particular, Sean Johnson and Eric Musgrove did the development work.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">You guys sound great. Can I work with you?</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>You sure can! Come <a href="https://path.com/about#jobs">work for Path</a>.</p>
                </div>
            </div>
        </div>

        <div class="faqHeader">Usage questions</div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">How do I use POSThere.io?</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Simply decide if you want to use HTTP or HTTPs, then come up with a string that makes sense for the POST you’re attempting, append it to <strong>posthere.io</strong>, and POST away.</p>
                    <p><strong>http</strong>://posthere.io/<strong>test-my-twitter-code</strong></p>
                    <p><strong>https</strong>://posthere.io/<strong>a-webhook-callback-test</strong></p>
                    <p><strong>https</strong>://posthere.io/<strong>another/test/with/complexity?api=123</strong></p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#post-content-type">What kind of data can I POST?</a>
                </h4>
            </div>
            <div id="post-content-type" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>You can POST, PUT or PATCH any kind of data up to 1 megabyte in length, but POSThere.io is optimized for textual content, and will even do fancy syntax highlighting when you send JSON, XML or form encoded data.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">Can I PUT to POSThere.io?</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Yup.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">Can I PATCH to POSThere.io?</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Indeed.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">Can I change the HTTP status that’s returned when I POST?</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Yes. Just add <strong>?status=xxx</strong> to the end of your request. For example: <strong>?status=401</strong></p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">Can I use POSThere.io from JavaScript in the browser?</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>What do we look like? Amateurs? We got this puppy all <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a>'d up. You can POST/PUT/PATCH to your heart's content from JavaScript in the browser.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10">Are there any POSThere.io URLs I can’t POST to?</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The URL name space of <strong>http://posthere.io/_/...</strong> is reserved for the POSThere.io website. You also can't use <strong>http://posthere.io/index</strong>. Any other URL should be fair game... POST away!.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12">How long will my requests stay visible?</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Your requests are available for up to 24 hours. In case we are super busy and run out of storage space, we might remove your older requests earlier than that.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13">How many requests will stay available on POSThere.io?</a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Up to your last 100 requests per unique URL. Past that we start to recycle the bits of the older ones.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11">How come POSThere.io doesn't butter my bread in the morning and tuck me in at night?</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>I don't know. Maybe it should. If you need more features then you should fork the <a href="https://github.com/path/posthere.io">repo on GitHub</a> and add in a bread buttering feature. Use it on your own private instance and enjoy, or send us a pull request and we promise to look at it.</p>
                    <p>If you're not quite up to building the tuck me into bed feature yourself, you can request it with the Feedback widget at the bottom of the page. If it's a brilliant feature idea, we just might build it for you.</p>
                </div>
            </div>
        </div>

        <div class="faqHeader">Security questions</div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14">Can other people see my POSTed data?</a>
                </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Yes they can, if you share the URL with them or they guess it. POSThere.io intentionally uses security by obscurity to keep things super simple. Don't POST any sensitive data to POSThere.io.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15">I don't trust you with my test data. It's very secret and sensitive and gets its feelings hurt easily. What do you have to say about that?</a>
                </h4>
            </div>
            <div id="collapse15" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>We thought of that. We made POSThere.io an open source project. Check the code and verify we don’t do anything nefarious, or host it yourself internally.</p>
                    <p>Go grab a copy from the <a href="https://github.com/path/posthere.io">Github repository</a> and check out the code or run your own private instance. We don't mind, we promise.</p> 
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16">Oops! I didn't mean to POST that. Can I get rid of it?</a>
                </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>No! It's ours forever!</p>
                    <p>Not really. Just click the delete link on the result page in your browser, or make a DELETE request to the URL.</p>
                </div>
            </div>
        </div>

        <div class="faqHeader">API questions</div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17">Can I get the results of my POST requests with an API?</a>
                </h4>
            </div>
            <div id="collapse17" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Of course you can. Just change your POST, PUT or PATCH to a GET and request the same URL. Also make sure you include an <strong>Accept</strong> header of <strong>application/json</strong> or you'll get an HTML response. With the right <strong>Accept</strong> header you'll get back a JSON array of all your requests, the contents of which should be self-explanatory.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18">Can I delete the results of my POST requests with an API?</a>
                </h4>
            </div>
            <div id="collapse18" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Sure. Just change your POST, PUT or PATCH to a DELETE and request the same URL.</p>
                </div>
            </div>
        </div>
    </div>
</div>