/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  min-width: 1000px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-width: 1000px;
  font-size: 1.6em;
  background: url('/images/gray_jean.png');
  font-family: 'Quattrocento Sans', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
}

hr {
  border-top: 1px solid #ccc;
}

a, .glyphicon-question-sign {
  color: #A90000;
}

a:hover, .glyphicon-question-sign:hover {
  color: #8A1C0E;
}

table {background-color: #fff;}
.borderless {background-color: transparent;}
.borderless td, .borderless th {border: none; border-top: none !important; padding: 5px 30px !important;}

table.result-table pre {
  background-color: white;
  border: 0px;
}

table.result-table pre code {
  background-color: white;
}
.btn-path {
  background-repeat: repeat-x;
  border-color: #8A1C0E;
  background-image: linear-gradient(to bottom,#e62f17 0,#8A1C0E 100%);
  background-color: #e62f17;
  color: white;
}

.btn-path:hover {
  background-repeat: repeat-x;
  border-color: #8A1C0E;
  background-image: linear-gradient(to bottom,#8A1C0E 0,#e62f17 100%);
  background-color: #e62f17;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.footer a {
    margin: 0 15px;
    text-decoration: underline;
}

.container {
  width: 970px !important;
  min-width: 1000px;
}

.navbar-title {
  margin-top: 5px;
  font-size: 2em;
  margin-bottom: 15px;
}
.navbar-subtitle {
  font-size: 0.8em;
}
.navbar-image {
  margin-right: 15px;
}
.navbar-right {
  margin: 15px;
}
.starter-template {
  padding: 60px 15px 0;
  text-align: center;
}
.home-template {
  font-size: 21px;
}
.upper-form-group {
  margin: 15px;
}
.lower-form-group {
  margin-bottom: 30px;
}

.container-group {
  margin: 45px 0;
}

#form-group {
  width: 600px;
  margin: 30px auto 10px;
  padding: 20px;
  background: #f5f5f5; 
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* IE10+ */
  background: linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* W3C */
  -pie-background: linear-gradient(top,  #f5f5f5 0%,#efefef 100%); 
  box-shadow: 0px 0px 1px 1px white inset, 0px 23px 21px -33px #000;
  border-radius: 7px;
  border:1px solid #d8d8d8;
}

#form-group input, #form-group select {
  font-size: 0.8em;
}

p.post-url {margin: 10px 0 20px;}

p.post-url a {text-decoration: underline;}

#testimonial-group {
  margin: 50px 0;
  font-size: 16px
}

#learn-group {
  margin: 0px 0;
  font-size: 16px;
}

#learn-group a {
  margin: 0 15px;
  text-decoration: underline;
}

#testimonial-group ul li {
    padding: 0 50px;
}

#testimonial-group ul li p {
    width: 175px;
}

#built-by-group {
  font-size: 21px;
}

#built-by-group img {
    width: 50px;
}

#cta-group {
  font-size: 21px;
}

#cta-group a {
  text-decoration: underline
}

.result-group a {
  text-decoration: underline;
}

.empty-results {
  margin: 45px 0;
}

.result-timestamp {
  font-size: 0.8em;
}