[{:parsed-query-string {"foo" "bar" "blat" "bloo"}
  :derived-content-type "json"
  :headers
  {"user-agent"
   "curl/7.21.4 (universal-apple-darwin11.0) libcurl/7.21.4 OpenSSL/0.9.8z zlib/1.2.5"
   "content-type" "application/json"
   "content-length" "50"
   "accept" "*/*"}
  :status 200
  :timestamp "2014-12-11T12:28:14.432Z"
  :body
  "{\n  \"title\" : \"L'Étranger\"\n  \"author\" : \"Albert Camus\"\n}"
  :body-overflow false
  :invalid-body false
  :request-method "post"}
 {:parsed-query-string {"foo" "bar" "blat" "bloo"}
  :derived-content-type "xml"
  :headers
  {"user-agent"
   "curl/7.21.4 (universal-apple-darwin11.0) libcurl/7.21.4 OpenSSL/0.9.8z zlib/1.2.5"
   "content-type" "application/xml"
   "content-length" "68"
   "accept" "*/*"}
  :status 200
  :timestamp "2014-12-11T12:27:43.927Z"
  :body
  "<book>\n  <title>L'Étranger</title>\n  <author>Albert Camus</author>\n</book>\n"
  :body-overflow false
  :invalid-body false
  :request-method "post"}
 {:parsed-query-string {"foo" "bar" "blat" "bloo"}
  :derived-content-type "url-encoded"
  :headers
  {"user-agent"
   "curl/7.21.4 (universal-apple-darwin11.0) libcurl/7.21.4 OpenSSL/0.9.8z zlib/1.2.5"
   "content-type" "application/x-www-form-urlencoded"
   "content-length" "43"
   "accept" "*/*"}
  :status 200
  :timestamp "2014-12-11T12:26:48.237Z"
  :body {"author" "Albert Camus" "title" "L'Étranger"}
  :body-overflow false
  :invalid-body false
  :request-method "post"}]